@import "src/styles/variables";

:host {
  width: 78%;
  background-color: $white;
  @include box-shadow;
  .content {
    .contentHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      mat-form-field {
        width: 50%;
      }
      .sortOptions {
        width: 50%;
        display: flex;
        flex-direction: row;
        max-height: 35px;
        label, span {
          padding: 5px 25px;
          text-align: center;
        }
        label{
          font-weight: bold;
          width: 25%;
        }
        span {
          border: 1px solid $clearGray;
          width: 25%;
        }
        .noSideBorder {
          border-left: none;
          border-right: none;
        }
      }
    }
    .tableRow {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;

      .indicator{
        height: calc(100% - 1px);
        border-bottom: 1px solid $grayOpacity02;
        width: 15px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .info {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 1px solid $clearGray;
        margin-left: 15px;
        img {
          width: 35px;
        }
        .transactionData {
          width: 70%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          div {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
          }
        }
        .date {
          width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
        }
        .money {
          width: 20%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          align-content: center;
          padding-right: 15px;
        }

      }
    }
  }
}
