@import "src/styles/variables";

:host {
  width: 78%;
  background-color: $white;
  @include box-shadow;
  @media(max-width: $maxWidth) {
    width: 100%;
  }

  .content {
    .contentHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      mat-form-field {
        width: 50%;
      }

      .sortOptions {
        width: 50%;
        display: flex;
        flex-direction: row;
        max-height: 35px;

        label, span {
          padding: 5px 0;
          text-align: center;
        }

        label {
          font-weight: bold;
          width: 25%;
        }
        div {
          width: 75%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }

        span {
          position: relative;
          cursor: pointer;
          @include arrow;
          border: 1px solid $clearGray;
          width: 33%;
        }

        .noSideBorder {
          border-left: none;
          border-right: none;
        }
      }

      @media(max-width: $maxWidth) {
        flex-wrap: wrap;
        margin-bottom: 15px;
        mat-form-field {
          width: 100%;
        }
        .sortOptions {
          flex-wrap: wrap;
          width: 100%;
          max-height: fit-content;
          label {
            width: 100%
          }
          div {
            width: 100%;
          }
          span {
            font-size: 14px;
            width: 33%;
            padding: 5px 0;
          }
        }
      }
    }

    .tableRow {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;

      .indicator {
        height: calc(100% - 1px);
        border-bottom: 1px solid $grayOpacity02;
        width: 15px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .info {
        display: flex;
        flex-direction: row;
        width: calc(100% - 17px);
        border: 1px solid $clearGray;
        margin-left: 15px;

        img {
          width: 35px;
          filter: grayscale(100%);
          @media(max-width: $maxWidth) {
            width: 30px;
          }
        }

        .transactionData {
          width: 70%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          align-content: center;

          div {
            padding: 0 10px;
            max-width: calc(100% - 30px - 20px);
            display: flex;
            flex-direction: column;
            label {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-height: 21px;
              font-weight: bold;
            }
          }
        }

        .date {
          width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        .money {
          width: 20%;
          display: flex;
          font-weight: bold;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          align-content: center;
          padding-right: 15px;
        }

      }
    }
  }
}
