/*Colors*/

$white: #fff;
$orange: #FF9252;
$darkOrange: #EE7033;
$darkCian: #0c8397;
$black: #000;
$gray: #7B7772; //for text
$clearGray: #CCCCCC;
$grayOpacity02: #CCCCCC33;
$shadow: #38383875;


/*Padding variables*/

$padding-sides: 6%;
$paddingBodyTop: 150px;
$paddingBodyBot: 30px;
$paddingBodyTopResponsive: 50px;
$paddingBodyBotResponsive: 30px;

/*Mixins*/

@mixin box-shadow {
  -webkit-box-shadow: 0 0 10px 0 $shadow;
  -moz-box-shadow: 0 0 10px 0 $shadow;
  box-shadow: 0 0 10px 0 $shadow;
}

@mixin arrow {
  &.arrow {
    &:after {
      position: absolute;
      top: calc(50% - 6px);
      right: 10%;
      content: '';
      border: solid $gray;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
  }
  &.down {
    &:after {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  &.up  {
    &:after {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
}

/* responsive screen size */

$maxWidth: 920px;
