@import 'src/styles/variables.scss';

header {
  background-color: $white;
  border-bottom: 2px solid $orange;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px $padding-sides;
}

:host {
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
}
