@import "../../../../styles/variables";
:host {
  display: block;
  width: 20%;
  background-color: $white;
  @include box-shadow;
  @media(max-width: $maxWidth){
    width: 100%;
  }

  .content {
    mat-form-field {
      width: 100%;
    }
  }

  .submit {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      width: 70%;
    }
  }
}
